.modal {  /* screen besides actual modal w/ contents */
    position: fixed;
    top: 0;  /* places modal at top left corner of screen -> flex properties in charge of centering*/
    left: 0;
    width: 100%;  /* backscreen (besides centered modal) takes up entire screen as the transparent backdrop/overlay */ 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  /* semi-transparent overlay */
    display: flex;  /* modal container uses flex to center white content box both horizontally and vertically w/in the fullscreen overlay/transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;  /* controls which elements appear 'on top' when they overlap: z-index of 1000 ensures modal appears above everything else */
}
.movie-backdrop {
    width: 100%;
    height: auto;
    display: block;
}
.modal-content {
    background: antiquewhite;
    border-radius: 8px;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: auto;  /* to get y scroll bar */
    box-shadow: 0 4px 24px #ffcafd;
    position: relative;  /* will allow close btn to be positioned properly */
}
.movie-info {
    padding: 20px;
    background-image: url(src/assets/larger-single-film.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.modal-text {
    background-color: #fff7fd;
    border-radius: 20px;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: rgba(128, 128, 128, 0.297);
    border: 1px solid #888;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;  /* ensures btn always stays on top of backdrop */
}
.modal-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}