.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    max-width: 1400px;
    margin: 0 auto;
    gap: 30px 40px;
}

.load-more button{
    margin-top: 20px;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #888;
}