.App {
  text-align: center;
  background: linear-gradient(#e15c34, #3704a6);
}

.App-header {
  background-color: rgb(59, 53, 47);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.App-footer {
  background-color: #160b0a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

select {
  border-radius: 20px;
  padding: 10px;
  min-width: 100px;;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
